@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@500;600;700&family=Tenor+Sans&display=swap');

header .nav-bar {
    position: fixed;
    width: 100%;
    height: 120px;
    z-index: 99;
    display: flex;
    align-items: center;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    justify-content: center;
    font-size: 15px;
    background-color: rgba(238, 238, 238, 0);
    transition: 0.3s ease-in-out;
}
header .nav-bar .col{
    border-left: 0.1px solid black;
    border-right: 0.1px solid black;
    padding-left: 25px;
    padding-right: 25px;
}
header .nav-bar a{
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
    border-bottom: 0.5px solid black;
    align-items: center;
    display: flex;
}
header .nav-bar a .fa-whatsapp{
    height: 25px;
}   
header .nav-bar a:hover{
    color: rgb(29, 151, 70);
}
header .nav-bar .btn{
    font-size: 20px;
    font-weight: 900;
    height: 70px;
}
header .nav-bar img{
    width: 16%;
    transition: 0.3s ease-in-out;
}
main{
    font-family: 'Sen', sans-serif;
    text-align: center;
}
main .fulfill{
    height: 100px;
}
.introSwiper {
    width: 100%;
    height: 800px;
}
.introSwiper .swiper-slide{
    text-align: center;
    background-color: #7e7e7e;
}
.introSwiper .swiper-slide img{
    height: 100%;
}
#about{
    background-image: url('../assets/imgs/Green-wave.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#about .col img{
    width: 100%;
    border-radius: 10px;
    box-shadow: -13px 15px 1px 0px rgba(3, 49, 5, 0.76);
    margin-top: auto;
    margin-bottom: auto;
}
#about .col{
    text-align: left;
    margin-top: 80px;
    height: 990px;
    display: flex;
    flex-direction: column;
}
#about .ml-1{
    margin-left: 3%;
}
#about .col .box {
    margin-top: auto;
    margin-bottom: auto;
    padding: 25px;
    background-color: antiquewhite;
    box-shadow: -13px 15px 1px 0px rgba(3, 49, 5, 0.76);
    border-radius: 10px;
}
#about .col .box h1{
    border-radius: 10px;
    box-shadow: -5px 5px 1px 0px rgba(3, 49, 5, 0.76);
}
.promoSwiper{
    width: 70%;
    height: 600px;
}
.promoSwiper .swiper-slide{
    text-align: center;
      font-size: 18px;
      background: #7e7e7e;
      display: flex;
      justify-content: center;
      align-items: center;
}
.catalogSwiper{
    width: 70%;
    height: 500px;
}
.catalogSwiper .swiper-slide{
    display: flex;
    text-align: center;
    background: #7e7e7e;
    justify-content: center;
    align-items: center;
}
.catalogSwiper .swiper-slide a .link {
    height: 500px;
}
.catalogSwiper .swiper-slide a .link img{
    width: 50%;
}
.catalogSwiper .swiper-slide a .fill-div{
    width: 300px;
    height: 500px;
}
.socialSwiper {
    width: 80%;
    height: 600px;
}
.socialSwiper .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #7e7e7e;
    height: calc((100% - 50px) / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}
footer{
    border-top: 2px solid rgb(63, 63, 63);
    height: 100px;
    background-color: rgb(30, 131, 64);
}
footer .col{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 12px;
    color: rgb(66, 66, 66);
}
