@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@500;600;700&family=Tenor+Sans&display=swap');

header .nav-bar {
    position: fixed;
    width: 100%;
    height: 120px;
    z-index: 99;
    display: flex;
    align-items: center;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    justify-content: center;
    font-size: 15px;
    background-color: rgba(238, 238, 238, 0);
    transition: 0.3s ease-in-out;
}
header .nav-bar .col{
    border-left: 0.1px solid #4C4E53;
    border-right: 0.1px solid #4C4E53;
    padding-left: 25px;
    padding-right: 25px;
}
header .nav-bar a{
    text-decoration: none;
    color: #4C4E53;
    transition: 0.2s ease-in-out;
    border-bottom: 0.5px solid #4C4E53;
    align-items: center;
    display: flex;
}
header .nav-bar a .fa-whatsapp{
    height: 25px;
}   
header .nav-bar a:hover{
    color: rgb(29, 151, 70);
}
header .nav-bar .btn{
    font-size: 20px;
    font-weight: 900;
    height: 70px;
}
header .nav-bar img{
    width: 16%;
    transition: 0.3s ease-in-out;
}
main{
    font-family: 'Sen', sans-serif;
    text-align: center;
}
main .introSwiper .welcome{
    position: absolute;
    z-index: 99;
    top: 300px;
    left: 22%;
}
main .introSwiper h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 80px;
    color: white;
}
.introSwiper {
    width: 100%;
    height: 800px;
}
.introSwiper .swiper-slide{
    text-align: center;
    background-color: #7e7e7e;
}
.introSwiper .swiper-slide img{
    height: 100%;
}
#about{
    /* background-image: url('../assets/imgs/Green-wave.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}
#about .col img{
    width: 90%;
    border-radius: 10px;
    /* box-shadow: -13px 15px 1px 0px rgba(3, 49, 5, 0.76); */
    /* margin-top: auto; */
    margin-bottom: auto;
    margin-left: 30%;
}
#about .col{
    text-align: left;
    margin-top: 80px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
#about .ml-1{
    margin-right: 3%;
    margin-left: -15%;
    margin-right: -15%;
    text-align: center;
}
#about .col .box {
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: antiquewhite;
    box-shadow: -13px 15px 1px 0px rgba(3, 49, 5, 0.76);
    border-radius: 10px; */
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #4C4E53;
}
#about .col h1{
    font-weight: 800;
    font-size: 75px;
    color: #4C4E53;
}
#promos h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 50px;
    font-size: 50px;
    color: #4C4E53;
}
.promoSwiper{
    width: 90%;
    height: 700px;
}
.promoSwiper .swiper-slide{
    text-align: center;
      font-size: 18px;
      background: #7e7e7e;
      display: flex;
      justify-content: center;
      align-items: center;
}
.promoSwiper .swiper-pagination-bullet-active {
    background-color: green;
}
.promoSwiper .swiper-button-next{
    color: green;
}
.promoSwiper .swiper-button-prev{
    color: green;
}
#feedback{
    background-color: #2FAC66;
    padding-bottom: 100px;
}
#feedback h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin: 50px;
    color: #4C4E53;
    padding-top: 50px;
}
.feedbackSwiper{
    width: 70%;
    height: 500px;
}
.feedbackSwiper .swiper-slide{
    background-color: #7e7e7e;
}
#catalog h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin: 50px;
    color: #4C4E53;
}
.catalogSwiper{
    width: 70%;
    height: 500px;
}
.catalogSwiper .swiper-slide{
    display: flex;
    text-align: center;
    background: #7e7e7e;
    justify-content: center;
    align-items: center;
}
.catalogSwiper .swiper-slide a .link {
    height: 500px;
}
.catalogSwiper .swiper-slide a .link img{
    width: 50%;
}
.catalogSwiper .swiper-slide a .fill-div{
    width: 300px;
    height: 500px;
}
#social h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin: 50px;
    color: #4C4E53;
}
.socialSwiper {
    width: 80%;
    height: 600px;
}
.socialSwiper .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #7e7e7e;
    height: calc((100% - 50px) / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}
#contact h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin: 50px;
    color: #4C4E53;
}
footer{
    border-top: 2px solid rgb(63, 63, 63);
    height: 100px;
    background-color: #2FAC66;
}
footer .col{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 12px;
    color: #4C4E53;
}
