@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

header{
    height: 100px;
}
header .nav-bar {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 99;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    justify-content: center;
    font-size: 19px;
    background-color: rgb(238, 238, 238);
    transition: 0.3s ease-in-out;
}
header .simplified{
    height: 80px;
}
header .nav-bar a{
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
}
header .nav-bar a:hover{
    color: rgb(29, 151, 70);
}
header .nav-bar .btn{
    font-size: 20px;
    font-weight: 900;
    height: 70px;
}
header .nav-bar img{
    border-radius: 200px;
    transform: translateY(20px);
    border: 5px solid black;
    width: 7%;
    transition: 0.3s ease-in-out;
}
header .simplified img{
    width: 6%;
}
.introSwiper {
    width: 100%;
    height: 700px;
}
.introSwiper .swiper-slide{
    text-align: center;
}
.introSwiper .swiper-slide img{
    height: 100%;
}
.promoSwiper{
    width: 70%;
    height: 600px;
}
.promoSwiper .swiper-slide{
    text-align: center;
      font-size: 18px;
      background: #7e7e7e;
      display: flex;
      justify-content: center;
      align-items: center;
}
.socialSwiper {
    width: 80%;
    height: 600px;
}
.socialSwiper .swiper-slide{
    text-align: center;
      font-size: 18px;
      background: #7e7e7e;
      height: calc((100% - 50px) / 2) !important;
      display: flex;
      justify-content: center;
      align-items: center;
}
footer{
    border-top: 2px solid rgb(63, 63, 63);
    height: 100px;
    background-color: rgb(30, 131, 64);
}
footer .col{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 12px;
    color: rgb(66, 66, 66);
}
